<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aaed64">  <td>15/05/19 15:28:06</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:shiva.tests.EncodeVideoTest@7dc36524]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1449621165</td>   <td></td> </tr>
<tr bgcolor="70c169">  <td>15/05/19 15:28:22</td>   <td>15937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EncodeVideoTest.TestVideoEncoding()[pri:0, instance:shiva.tests.EncodeVideoTest@7dc36524]">TestVideoEncoding</td> 
  <td>main@1449621165</td>   <td></td> </tr>
</table>
